<% include partials/header %>

<link rel="stylesheet" href="stylesheets/login.css">

<div class="formdiv border border-primary rounded">
  <div class="heading"><h2>Register</h2></div>
  <form method="POST" action="/register">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="username">Email</label>
      <input type="email" class="form-control" id="username" name="username" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="usertype">Register as:</label>
      <select class="form-control" id="usertype" name="usertype">
        <option>Normal User</option>
        <option>Doctor</option>
        <option>Channelling Centre Owner</option>
      </select>
    </div>
    <div class="form-group" id="regform">
      <label for="slmcreg">SLMA Registration Number</label>
      <input type="text" class="form-control" id="slmcreg" name="slmcreg" placeholder="Registration Number">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="confPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confPassword" name="confPassword" placeholder="Re-enter Password">
    </div>
    <div class="login-btn">
      <hr />
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>

<!-- <script>
  const display = () => {
    let usertype = document.getElementById('usertype').value;
    let dive = document.getElementById('regform');
    if(usertype === 'Doctor') {
      dive.style.visibility = 'visible';
    }
  };
</script> -->

<% include partials/footer %>